* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'elliotsixregular';
    src: url('../fonts/elliotsix-webfont.woff2') format('woff2'),
        url('../fonts/elliotsix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

/* Aside */
.side-background-img {
    position: relative;
    flex: 1;
    height: 100%;
}

img.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 19%;
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.title h1 {
    font-family: "elliotsixregular";
    font-size: 5rem;

    color: white;
}

.title #logo {
    width: 4.5rem;
    height: 6rem;
} 

.side-background-img .credit {
    position: absolute;
    width: 100%;
    bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.15rem;
    color: black;
}

.side-background-img .credit a {
    color: black;
}

/* Main */
/* Article Description */
.content {
    flex: 2;
    height: 100vh;
}

.content > article.description,
.content > section.form > div.create-account {
    width: 100%;
    height: 34vh;
    background-color: #f2f2f2;
}

.content > section.form > form {
    width: 100%;
    height: 32vh;
}

.content > article.description,
.content > section.form > form,
.content > section.form > div.create-account {
    padding: 1.5rem 2.5rem;
}

.content > article.description {
    display: flex;
    justify-content: start;
    align-items: flex-end;

    padding-bottom: 3rem;
}

article.description > p.text {
    white-space: pre-wrap;
    font-weight: bold;
    font-size: 1.2rem;
    & .italic {
        font-style: italic;
    }
}

/* Main Form */
section.form > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.form > form .row {
    display: flex;
    gap: 5rem;
}

section.form > form .row .field {
    display: flex;
    flex-direction: column;

    font-size: 0.75rem;
    font-weight: bold;
    color: gray;
}

section.form > form .row .field > input {
    width: 20rem;
    height: 1.5rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid grey;
}

section.form > form .row .field > input:focus {
    border: 2px solid blue;
    box-shadow: 2px 2px 5px 1px grey;
    outline: none;
}

section.form > form .row .field > input[type="password"]:focus:invalid {
    border: 2px solid red;
    box-shadow: 2px 2px 5px 1px grey;
    outline: none;
}
section.form > form .row .field > input[type="password"]:focus:valid {
    border: 2px solid #4BB543;
    box-shadow: 2px 2px 5px 1px grey;
    outline: none;
}

/* Main Create Account */
.form .create-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form .create-account button {
    width: 18%;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4d4d4d;
    color: white;
    font-weight: bold;
    font-size: 1.01rem;
    box-shadow: 1px 2px 5px 1px black;
    cursor:pointer;
}

.form .create-account p a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: bold;
}
